@font-face {
    font-family: Roboto;
    src: url("./fonts/roboto/Roboto-Light.ttf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/roboto/Roboto-LightItalic.ttf");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/roboto/Roboto-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/roboto/Roboto-MediumItalic.ttf");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/roboto/Roboto-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/roboto/Roboto-BoldItalic.ttf");
    font-style: italic;
    font-weight: 700;
}

:root {
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 1rem;

    --grey: rgb(78, 78, 78);
    --dark-grey: rgb(50, 50, 50);
    --black: rgb(32, 32, 32);
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color:rgb(129, 129, 129)
}

input[type="text"],
input[type="name"],
input[type="number"],
input[type="datetime-local"] {
    font-size: 1rem;
    padding: 0.75rem;
    border: none;
    border-radius: 10px;
}

body {
    width: 100vw;
    min-height: 100vh;

    background-color: var(--black);
    color: white;
}

section {
    padding: 1rem 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    font-weight: 700;
}

p {
    margin-bottom: 1rem;
}

#content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#content > * {
    padding-left: 10%;
    padding-right: 10%;
}

.post-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    margin-top: 1rem;

    font-weight: 300;
}

.header-bar {
    background-color: var(--grey);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.restaurant-name-heading {
    font-size: 4rem;
    padding-top: 1rem;
}

.header-nav > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    font-size: 1.5rem;
}

.tab {
    padding: 1rem 2rem;
    background-color: var(--grey);
    cursor: pointer;
    border-radius: 25px 25px 0 0;
}

.tab-selected {
    background-color: var(--black);
}

.tab:not(.tab-selected):hover {
    background-color: var(--dark-grey);
}

.non-selectable {
    user-select: none;
}

.main-img {
    width: 100%;
    border: 5px solid white;
    border-radius: 5px;
}

.menu,
.booking {
    display: grid;
    place-items: center;
    gap: 2rem;

    padding: 1rem 0;
}

.menu-course {
    width: 35%;
    padding: 2rem;

    border: 5px solid var(--grey);
    border-radius: 5px;

    display: grid;
    place-items: center;
    gap: 1rem;

    font-size: 1.2rem;
}

.menu-item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr min-content;
}

.menu-item-price {
    text-align: right;
}

.menu-item-description {
    grid-column: 1 / 3;
    font-style: italic;
    font-weight: 300;
}

.booking-form {
    width: 35%;
    padding: 2rem;

    border: 5px solid var(--grey);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding: 2rem;

    font-size: 1.2rem;
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.submit-button {
    width: 50%;
    padding: 0.75rem 1rem;
    align-self: center;
    font-size: 1rem;
    font-weight: bold;
}